*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: 
}

#info
{
    position: sticky;
    top: 25;
    z-index: 10;
}

.home
{
    position: absolute;
    top: 10em;
    left: 150px;
    color: black;
    font-family: "Source Sans Pro";

    
}

#icons
{
    position: relative;
    bottom:-500px;
}

.contact{
    background-color: #26262A;
    height: 40vh;
    max-height: 400px;
    overflow:hidden;

}

.contact h1{
    color: white;
    position: absolute;
    font-size: 60px;
    font-family: "Tenor Sans", sans-serif;
    width: 900px;
    text-align: center;
    left: calc(50vw - 450px);
    top: 10vh;
}

#icon1{
    position: absolute;
    top: 26vh;
    left: calc(44vw - 15px);
}

#icon2{
    position: absolute;
    top: 26vh;
    left: calc(48vw - 15px);
}

#icon3{
    position: absolute;
    top: 26vh;
    left: calc(52vw - 15px);
}

a i{
    transition: all 0.3s linear;
 }
 
 a:hover i{
     transform: scale(1.4);
 }
 
 .fa-linkedin{
     color: #0097e6
 }
 
 .fa-github{
     color: black;
 }